.css-1rtg91x-MuiDateCalendar-root
    background-color: #471D7C !important
    border-radius: 20px
    

.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected, .css-23p0if-MuiButtonBase-root-MuiPickersDay-root.Mui-selected, .css-innj4t-MuiPickersYear-yearButton.Mui-selected 
    background-color: #3FD48F !important
    color: White !important

.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root, .css-5z7ikf-MuiButtonBase-root-MuiPickersDay-root, .css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root
    background-color: white !important
    color: black !important
    font-family: "Josefin Sans" !important
    font-weight: 500 !important
    font-size:15px !important


.css-cyfsxc-MuiPickersCalendarHeader-labelContainer, .css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel, .css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon, .css-1vooibu-MuiSvgIcon-root, .css-innj4t-MuiPickersYear-yearButton
    font-family: "Josefin Sans" !important
    color: white !important
    font-weight: 800 !important
    font-size:15px !important

.css-h0nur9-MuiButtonBase-root-MuiPickersDay-root, .css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected)
    background-color: #3FD48F !important
    color: white !important
    font-family: "Josefin Sans" !important
    font-weight: 500 !important
    font-size:15px !important
    border: #3FD48F !important

:root 
  width: 100vw
  height: 100vh
  margin: 0 
  padding: 0


body
  margin : 0
  padding: 0
  width: 100vw
  height: 100vh

  .baterPonto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: space-between
    font-family: "Josefin Sans"

    #botaoVoltar 
        text-decoration: none
        font-size: 40px
        margin: 15px
       
        
        svg
            color: black
            border: 4px solid #3FD48F
            border-radius: 70px

        svg:hover
            color: white
            background-color: #3FD48F
            transition: 0.3s

    #bodyBaterPonto
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        

        #calendario
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin: -5px 10%

   

            h2
                font-size: 36px
                margin-bottom: 0
                color: #3FD48F
                font-weight: 400
                


        #menuPonto
            display: flex
            flex-direction: column
            justify-content: space-around
            align-items: center
            margin: 0 10%


            h2
                font-size: 36px
                margin: 10px 0
                text-align: center
                font-weight: 400
                margin: 0px 0px 40px
                padding: 61px
                border: 6px solid #620FC3
                border-radius: 15px

            #botoesPonto 
                display: flex
                flex-direction: column
                justify-content: space-around
                align-items: center
                
                .organizacaoBotoes
                    display: flex
                    flex-direction: row
                    justify-content: space-around
                    align-items: center
                    margin: 15px 0

                    Button
                        background-color: white
                        color: black
                        border: 5px solid #3FD48F
                        border-radius: 10px
                        width: 148px
                        margin: 0 15px
                        text-transform: none 
                        font-family: "Josefin Sans"
                        font-size: 17px

                    Button:hover
                        background-color: #3fd48f
                        color: white
                        transition: 0.3s

        .validationBox 
            display: flex
            flex-direction: column
            justify-content: space-around
            align-items: center
            border:8px solid #620FC3
            border-radius: 20px
            width: 35%
            height: 340px
            margin-top: 50px
            text-align: center

            h2
                font-size: 36px
                margin: 5% 0 
                text-align: center
                font-weight: 700
                margin:10px
                
            h3
                font-size: 22px
                font-weight: 500

            Button
                 background-color: white
                 color: black
                 border: 5px solid #3FD48F
                 border-radius: 10px
                 width: 110px
                 margin: 10px 15px
                 text-transform: none 
                 font-family: "Josefin Sans"
                 font-size: 17px
                 padding: 0

                  
            Button:hover
                    background-color: #3fd48f
                    color: white
                    transition: 0.3s

        
            #subtituloConfirmacao 
                color:#620FC3 
                margin: 10% 0 0

            p
                font-size:18px
                margin: 0% 1% 4%
                font-weight: 600

            #rodape
                font-size:16px
                margin: 6% 1% 3%

        #pausaBox
            h2
                margin: 7px
            h3
                margin: 5px

            p
                margin: 7px

            #horarioFinal
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root
    border: 3px solid #620FC3
    width: 300px
    height: 55px
    background-color: #D9D9D9
    border-radius: 5px

body .baterPonto #bodyBaterPonto .validationBox #horarioFinal Button
    display: none !important