@import "leaflet/dist/leaflet.css";

:root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.baterPonto, #corrigirPonto, #justificarPonto, #localizacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  font-family: "Josefin Sans";
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.baterPonto .botaoVoltar, #corrigirPonto .botaoVoltar, #justificarPonto .botaoVoltar, #localizacao .botaoVoltar {
  text-decoration: none;
  font-size: 40px;
  margin: 15px;
}

.baterPonto .botaoVoltar svg, #corrigirPonto .botaoVoltar svg, #justificarPonto .botaoVoltar svg, #localizacao .botaoVoltar svg {
  color: black;
  border: 4px solid #3FD48F;
  border-radius: 70px;
}

.baterPonto .botaoVoltar svg:hover, #corrigirPonto .botaoVoltar svg:hover, #justificarPonto .botaoVoltar svg:hover, #localizacao .botaoVoltar svg:hover {
  color: white;
  background-color: #3FD48F;
  transition: 0.3s;
}

#bodyLocalizacao .validationBox {
  margin: 0 3%;
}

.bodyBaterPonto, .bodyCorrecao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 90%;
  margin: 0;
}

#mapa {
  width: 400px;
  height: 380px;
  margin-top: 0;
}

.calendario, .calendarioCorrecao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -5px 3%;
  overflow: hidden;
}

.calendario h2, .calendarioCorrecao h2 {
  font-size: 36px;
  margin-bottom: 0;
  color: #3FD48F;
  font-weight: 400;
}

.menuPonto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
}

.menuPonto h2 {
  font-size: 36px;
  margin: 10px 0;
  text-align: center;
  margin: 0 0 15px;
  padding: 61px;
  border: 6px solid #620FC3;
  border-radius: 15px;
}

#botoesPonto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -50px;
}

.organizacaoBotoes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 12px 0;
}

.organizacaoBotoes button {
  background-color: white;
  color: black;
  border: 5px solid #3FD48F;
  border-radius: 10px;
  width: 120px;
  margin: 0 15px;
  text-transform: none;
  font-family: "Josefin Sans";
  font-size: 16px;
}

.organizacaoBotoes button:hover {
  background-color: #3fd48f;
  color: white;
  transition: 0.3s;
}

#editarPonto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#editarPonto h2 {
  margin-bottom: 15%;
}

#editarPonto p {
  margin-top: 15%;
}

#pontoEditado {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#pontoEditado h3 {
  margin-bottom: -50px;
}

#justificativa h3 {
  margin: 6px 0;
}

.validationBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 8px solid #620FC3;
  border-radius: 20px;
  width: 35%;
  height: 330px;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 9px;
}

.validationBox h2 {
  font-size: 36px;
  margin: 3px 0;
  text-align: center;
  margin: 10px;
}

.validationBox h3 {
  font-size: 20px;
  font-weight: 500;
}

.validationBox button {
  background-color: white;
  color: black;
  border: 5px solid #3FD48F;
  border-radius: 10px;
  width: 120px;
  margin: 10px 15px 8px;
  text-transform: none;
  font-family: "Josefin Sans";
  font-size: 16px;
  padding: 0;
}

.validationBox button:hover {
  background-color: #3fd48f;
  color: white;
  transition: 0.3s;
}

.validationBox .pontosDoDia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.validationBox .pontosDoDia ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.validationBox .pontosDoDia li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10;

}

.validationBox .pontosDoDia span {
  margin-right: 10px;
}

#subtituloConfirmacao {
  color: #620FC3;
  margin: 10% 0 0;
}

p {
  font-size: 18px;
  margin: 0 2% 4%;
  font-weight: 400;
}

#rodape {
  font-size: 16px;
  margin: 6% 2% 3%;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.file-upload-container form {
  border: 1px solid #000000;
  border-radius: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  width: 450px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-upload-label svg {
  font-size: 70px;
  color: #777777;
  width: 450px;
  height: 70px;
}

.file-upload-input {
  display: none;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root, .css-139q11a-MuiFormControl-root-MuiTextField-root .MuiInputBase-root {
  border: 3px solid #620FC3;
  max-width: 90%;
  height: 60px;
  background-color: #D9D9D9;
  border-radius: 5px;
  margin: auto;
}

body .baterPonto #bodyBaterPonto .validationBox #horarioFinal button {
  display: none !important;
}

.css-1rtg91x-MuiDateCalendar-root {
  background-color: #471D7C !important;
  border-radius: 20px;
}

.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-innj4t-MuiPickersYear-yearButton.Mui-selected {
  background-color: #3FD48F !important;
  color: White !important;
}

.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root,
.css-5z7ikf-MuiButtonBase-root-MuiPickersDay-root,
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root, .css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected), .css-a78wou, 
button.MuiButtonBase-root.MuiPickersDay-dayWithMargin.css-a78wou {
  background-color: white !important;
  color: black !important;
  font-family: "Josefin Sans" !important;
  font-weight: 500 !important;
  font-size: 15px !important;
}

.css-cyfsxc-MuiPickersCalendarHeader-labelContainer,
.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel,
.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
  color: white !important;
}

.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
  font-size: 20px !important;
}

.css-dhopo2-MuiButtonBase-root-MuiPickersDay-root {
  color: white;
}

.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-iconButton {
  color: #471D7C !important;
  border-radius: 20px;
}





@media only screen and (max-width: 1025px) {
  .bodyBaterPonto, .bodyCorrecao{
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .calendario{
    margin: 20px 0;
  }

  .menuPonto{
    margin: auto;
  }

  .validationBox{
    width: 80%;
    margin: auto;
  }

  .validationBox h2 , .validationBox p, .validationBox h3{
    font-size: 1.3rem;
  }

  .file-upload-container form {
    max-width: 60%;
  }
  .validationBox .pontosDoDia span{
    margin: 0 3px;
  }
  
  .validationBox button{
    max-width: 60%;
  }



  #mapa {
    max-height: 70%;
    width: 50%;
    margin: auto;
  }

 
}

@media only screen and (max-width: 913px){
  #mapa {
    max-height: 70%;
    width: 80%;
  }

  #localizacao .validationBox{
    margin-top: 5%;
  }
}