:root 
  width: 100vw
  height: 100vh
  margin: 0 
  padding: 0


body
  margin : 0
  padding: 0
  width: 100vw
  height: 100vh

  .home
    width: 100vw
    height: 100vh 
    margin: 0
    padding: 0
    display: flex
    flex-direction: column
    justify-content: Start
    align-items: center
    font-family: "Josefin Sans"


    .header
        height: 10%
        margin: 10px 0
        display: flex
        flex-direction: row
        justify-content: space-around
        width: 100%



        .logoSidi 
            margin:8px 20px

            img
                width: 50%
                height: auto
 

        .menu
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            margin-left: auto

        #identificador
            display: flex
            flex-direction: column
            margin:8px 20px

            h3
                font-weight: 20px
                margin-bottom: 3px

            #iconsMenu
                display: flex
                flex-direction: row
                justify-content: center
                

                a 
                 color: black
                 margin: 1px 4px
                 font-size: 35px
                 

                 svg
                    border: 3px solid #3FD48F
                    border-radius: 5px
                
                svg:hover
                    color: white
                    background-color: #3FD48F
                    transition: 0.3s 
    
    #bodyHome
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        height: auto


        .linhaHome 
            display: flex
            flex-direction: row
            justify-content: space-around
            align-items: center
            width: 100%
            height: auto
            margin: 50px 0 0

            .unidadeDashboard 
                display: flex
                flex-direction: column
                align-items: center
               
   

        




     